@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image:url(img.png.jpg) ;
    background-position:  center center;
    background-repeat: no-repeat;
    background: size max(1200px, 100vw);
    height : 70vh;
position: relative;
}
.main.box{
    height: 70vh;
    width: 100%;
    opacity: 0.68;
    position: absolute;
    top:0;
    background-color:black ;
}
nav{
max-width: 60vw;
justify-content: space-around;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    display: flex;
    align-items: center;
    justify-self: center;
    position: absolute;
    margin-top: 200px;
    flex-direction: column;
    color: white;
    margin-left: 400px;
    letter-spacing: 2px;
     
}
.separation{
    height: 7px;
    background-color: rgb(55, 54, 54);
    
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color:rgba(32, 31, 31, 0.022);
    border: 1PX solid rgb(140, 122, 122);
}
.btn-red{
background-color: red;
color: white;
padding: 3px 24px;
font-size: 20px;
border-radius: 4px;
}
.hero-buttons{
display: flex;
align-items: center;
justify-content: center;
gap: 16px;

}
.input{
padding: 5px 5px;
color: white;
font-weight: 900;
font-size: 12px;
border-radius: 4px;
background-color: rgba(23, 23, 23, 0.3);
border: 1px solid rgba(255, 254, 254, 0.7);

}
.hero-btn{
 background-color: red;
padding: 5px 5px;
color: white;
}
.btn-btn-red-sm{
    background-color: red;
color: white;
}
.first{
    display: flex;
    justify-content: center;
    max: width 70vW;
    margin: auto;
    color: white;
     justify-content: center;
     align-items: center;
}

@media screen and (max-width: 1300px){
.first{
flex-wrap: wrap;
}
} 
    





.secimg{
 position: relative;
}
.secimg img{
    width: 450px;
   
}

.secimg video{
    width: 369px;
    position: absolute;
    top: 51px;
right: 50px;
}

section.first > div{
    display: flex;
    flex-direction:column ;
}
section.first > div:first-child{
    font-size: 48px;
    font-weight: bolder;
    
}
.f{
    font-size: 24px;
}
.a{
    font-size: 48px;
    font-weight: bolder;
}
.z{
    font-size: 48px;
    font-weight: bolder;

}
.faq{
    background-color: black;
    color: white;
    padding: 24px;

    
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 17px;
    max-width: 140vh;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;

}
.faq h2{
    text-align: center;
    font-size: 48px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60v;
    margin: auto;
    padding: 24px;
}


@media screen and (max-width: 1300px){
    .first{
    flex-wrap: wrap;
    }
    } 



.footer-item{
display: grid;
gap: 23px;
}
footer a{
    font-size: 14px;
    color: white;
}